<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/js/pintuer.js}"></script>
    <script th:src="@{/static/js/laydate.js}"></script>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/static/css/admin.css}" rel="stylesheet">
    <link th:href="@{/static/css/layui.css}" rel="stylesheet">
    <link th:href="@{/static/css/laydate.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span>修改数据</strong></div>
    <div class="panel-body">
        <form th:action="@{lec/editLecture}" class="form-x" method="post">
            <input name="id" type="hidden" th:value="${lecture.id}"/>
            <div class="form-group">
                <div class="label">
                    <label>学号：</label>
                </div>
                <div>
                    <input type="text" class="input w-50" th:value="${lecture.lecId}" name="lecId" data-validate="required:请输入学号" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>姓名：</label>
                </div>
                <div>
                    <input type="text" class="input w-50" th:value="${lecture.lecName}" name="lecName" data-validate="required:请输入姓名" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>篇数：</label>
                </div>
                <div>
                    <input type="text" class="input w-50" th:value="${lecture.lecNum}" name="lecNum" data-validate="required:请输入数量" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>日期：</label>
                </div>
                <div>
                    <input type="text" class="layui-input" id="i1" th:value="${lecture.lecDate}" placeholder="yyyy-MM-dd" name="lecDate" style="height:30px;width:180px;" data-validate="required:日期不能为空" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>已修分数：</label>
                </div>
                <div>
                    <input type="text" class="input w50" th:value="${lecture.lecTotal}" name="lecTotal"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>未修分数：</label>
                </div>
                <div>
                    <input type="text" class="input w50" th:value="${lecture.lecDebt}" name="lecDebt" />
                    <div class="tips"></div>
                </div>
            </div>

            <input type="submit" class="btn btn-outline-success btn-sm" th:value="修改">
            <input type="button" class="btn btn-outline-success btn-sm" th:onclick="back()" th:value="返回">
        </form>


    </div>

</div>

<script th:inline="javascript">
    function back() {
        window.history.go(-1);
    }

    //日期控件
    laydate.render({
        elem:"#i1",
        type:'date'
    })

</script>
</body>
</html>
