<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/js/pintuer.js}"></script>
    <script th:src="@{/static/js/laydate.js}"></script>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/static/css/admin.css}" rel="stylesheet">
    <link th:href="@{/static/css/layui.css}" rel="stylesheet">
    <link th:href="@{/static/css/laydate.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span>修改数据</strong></div>
    <div class="panel-body">
        <form th:action="@{/inno_grade/editInno}" class="form-x" method="post">
            <input name="id" type="hidden" th:value="${inno.id}"/>
            <div class="form-group">
                <div class="label">
                    <label>材料编号：</label>
                </div>
                <div>
                    <input type="text" class="input w-50" th:value="${inno.innoId}" name="innoId" data-validate="required:请输入材料编号" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>材料类型：</label>
                </div>
                <div class="field">
                    <select name="innoVar" class="input w-50">
                        <option value="请选择材料类型">请选择材料类型</option>
                        <option th:selected="${inno.innoVar eq '科研训练'}" value="科研训练">科研训练</option>
                        <option th:selected="${inno.innoVar eq '学科竞赛'}" value="学科竞赛">学科竞赛</option>
                        <option th:selected="${inno.innoVar eq '创业实践'}" value="创业实践">创业实践</option>
                        <option th:selected="${inno.innoVar eq '创业训练'}" value="创业训练">创业训练</option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>材料名称:</label>
                </div>
                <div>
                    <input type="text" class="input w-50" th:value="${inno.innoName}" name="innoName" data-validate="required:请输入材料名称"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>材料内容:</label>
                </div>
                <div>
                    <input type="text" class="input w-50" th:value="${inno.innoContent}" name="innoContent" data-validate="required:请输入材料内容"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>日期：</label>
                </div>
                <div>
                    <input type="date" class="layui-input" id="i1" placeholder="yyyy-MM-dd" th:value="${inno.innoDate}" name="innoDate"
                           style="height:30px;width:180px;" data-validate="required:日期不能为空"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>级别：</label>
                </div>
                <div class="field">
                    <select name="innoRank" class="input w50">
                        <option value="请选择级别">请选择级别</option>
                        <option th:selected="${inno.innoRank eq '国家级'}" value="国家级">国家级</option>
                        <option th:selected="${inno.innoRank eq '省级'}" value="省级">省级</option>
                        <option th:selected="${inno.innoRank eq '市级'}" value="市级">市级</option>
                        <option th:selected="${inno.innoRank eq '校级'}" value="校级">校级</option>
                        <option th:selected="${inno.innoRank eq '院级'}" value="院级">院级</option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>等级：</label>
                </div>
                <div class="field">
                    <select name="innoLevel" class="input w-50">
                        <option value="请选择等级">请选择等级</option>
                        <option th:selected="${inno.innoLevel eq '一等奖'}" value="一等奖">一等奖</option>
                        <option th:selected="${inno.innoLevel eq '二等奖'}" value="二等奖">二等奖</option>
                        <option th:selected="${inno.innoLevel eq '三等奖'}" value="三等奖">三等奖</option>
                        <option th:selected="${inno.innoLevel eq '优秀奖'}" value="优秀奖">优秀奖</option>
                        <option th:selected="${inno.innoLevel eq '参赛奖'}" value="参赛奖">参赛奖</option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>


            <input type="submit" class="btn btn-outline-success btn-sm" th:onclick="click()" th:value="修改">
            <input type="button" class="btn btn-outline-success btn-sm" th:onclick="back()" th:value="返回">
        </form>
    </div>
</div>

<script th:inline="javascript">

    function back() {
        //返回上一页
        window.history.go(-1);
    }

    function click(){
        window.location.href='aduc/inno_grade/innovation';
    }

    //日期控件
    laydate.render({
        elem:"#i1",
        type:'date'
    })
</script>

</body>
</html>
